=form_for :settlement do |f|
  %legend Settlement #{@settlement.try(:name)}
  %fieldset
    / Text input
    .control-group
      %label.control-label Name
      .controls
        %input#settlement_name.input-xlarge{:name => "name", :placeholder => "leave blank for random", :required => "", :type => "text"}/
    .control-group
      %label.control-label Language
      .controls
        %select#language_id{name: 'language'}
          %op
          - Language.all.each do |language|
            %option{value: language.id}= language.name

    / Text input
    .control-group
      %label.control-label Population
      .controls
        %input#settlement_population.input-xlarge{:name => "population", :placeholder => "choose size", :required => "", :type => "text"}/
    / Select Basic
    .control-group
      %label.control-label Size
      .controls
        %select#size.input-xlarge{:name => "size"}
          %option Hamlet
          %option Village
          %option Town
          %option City
    / Button
    .control-group
      %label.control-label
      .controls
        %button#submit.btn.btn-success{:name => "submit"} Submit
