- content_for(:title){ 'Editing Settlement' }
%h4 Editing settlement

= render 'form'

= link_to 'Seed Families', seed_path(@settlement), :method => 'PUT'
\|
= link_to 'Show', @settlement
\|
= link_to 'Back', settlements_path
