- content_for :title do
  Settlements

- unless @settlements.empty?
  %h3 Settlements
  %ul.media-list.span10
    = render partial: 'settlement', collection: @settlements
- else
  %h3 No Settlements

