- content_for(:title){ 'New Settlement' }
.container-fluid.span12
  .page-header
    %h1
      Build a Town
      %small it takes a village
  = render partial: 'form', locals: { settlement: @settlement }

