
#tabs
  %ul
    %li 
      %a{:href => '#tab-settlement'} Settlement
    %li 
      %a{:href => '#tab-ruler'} Ruler
  #tab-settlement= render :partial => '/settlements/form'
  #tab-ruler= render :partial => '/rulers/form' 
