=form_for @language, html:  {class: 'form-inline'} do |f|
  %fieldset
    %legend Language #{@language.try(:name)}
    / Text input
    .control-group
      %label.control-label Name
      .controls
        %input#name.input-xlarge{:name => "name", :placeholder => "leave blank for random", :type => "text"}/
    .control-group
      %label.control-label Corpora
      .controls
        - Corpus.all.each do |corpus|
          %label.checkbox
            %input{:name => "corpora[]", :type => "checkbox", :value => corpus.id, :title => "#{corpus.name}: #{corpus.description}"}/
            = link_to corpus.name, corpus.url, target: '_blank'
    / Textarea
    .control-group
      %label.control-label Description
      .controls
        %textarea#description{:name => "description"}
    / Button
    .control-group
      .controls
        %submit#language-submit.btn.btn-success Submit
