=form_for @language, html:  {class: 'form-inline'} do |f|
  %fieldset.span6
    .control-group
      %label.control-label Name
      .controls
        %input#language-name.input-xlarge{:name => "language[name]", :type => "text"}/
    .control-group
      %label.control-label Sources
      .controls
        %ul.unstyled.larger
          - Corpus.all.each do |corpus|
            %li
              %label.checkbox
              %input{:name => "language[corpora][]", :type => "checkbox", :value => corpus.id, :title => "#{corpus.name}: #{corpus.description}"}/
              = link_to corpus.name, corpus.url, target: '_blank'
    .control-group
      %label.control-label Description
      .controls
        %textarea#description{:name => "language[description]"}
    .control-group
      %button.btn Cancel
      %button.btn.btn-primary Save Changes
