=form_for @language, html:  {class: 'form-inline'} do |f|
  %fieldset.span6
    .control-group
      %label.control-label Name
      .controls
        %input#language-name.input-xlarge{:name => "language[name]", :type => "text"}/
    %fieldset.control-group.span3
      %label.control-label Randomness
      .controls
        %ul.unstyled.radio-group
          - %w|Tight Normal Loose Less Least|.each_with_index do |label, i|
            %li
              %label.radio
                = label
              %input{:name => "language[lookback]", checked: @language.lookback == i ? 'checked' : '', :type => "radio", :value => i + 1}

        %p.help-block.left
          amount of letters to look back in the corpus as the histogram is created
    .control-group
      %label.control-label Sources
      .controls
        %ul.unstyled.larger
          - Corpus.all.each do |corpus|
            %li
              %label.checkbox
              %input{:name => "language[corpora][]", :type => "checkbox", :value => corpus.id, :title => "#{corpus.name}"}/
              = link_to corpus.name, corpus.url, target: '_blank'
    .control-group
      %label.control-label Description
      .controls
        %textarea#description{:name => "language[description]"}
    .control-group
      %button.btn Cancel
      %button.btn.btn-primary Save Changes
