- nolink ||= false
.thumbnail
  = link_to_unless nolink, [(being.class == Ruler ? being.title : ''), being.name].join(' '), { controller: 'beings', action: 'show', id: being }
  - if being.respond_to?(:married?)  && being.married?
    = being.spouse.to_s
  - if being.parent?
    children:
    %ul.unstyled
      - being.children.each do |child|
        %li= child.to_s


