- cellsize = 7
%h5 Genotype 
%svg{xmlns: "http://www.w3.org/2000/svg", version: "1.1"}
  - y = 0
  - being.genotype.collect{|c| c.to_s }.sort{|a,b| a.split.inject(0){|sum, i| i.to_i(16)} <=> b.split.inject(0){|sum, i| i.to_i(16)}}.reverse.each do |chromosome|
    - x = 0
    - chromosome.split.sort.reverse.each do |gene|
      %rect{x: x, y: y, width: cellsize, height: cellsize, fill: gene, 'fill-opacity' => 0.5}
        %title #{gene}
      - x += cellsize
    - y += cellsize


