#genotype
  - being.genotype.collect{|c| c.to_s }.sort{|a,b| a.split.inject(0){|sum, i| i.to_i(16)} <=> b.split.inject(0){|sum, i| i.to_i(16)}}.reverse.each do |chromosome|
    .row-fluid
      - chromosome.split.sort.reverse.each do |gene|
        .gene.tip.span1{ title: gene, style: "background-color: ##{gene};"}




