- content_for(:title) { 'New Being' }
.container-fluid.span12
  .page-header
    %h1
      Mess With a Being
      %small fiddle the hexes

    %h2 = @being.name

= render 'form', locals: { being: @being }

= link_to 'Show', @being
\|
= link_to 'Back', beings_path
