= render partial: 'genotype', locals: { being: @being } 
.clear
= link_to_if(@being.alive?, 'Randomize Genes', { controller: 'beings', action: 'randomize_genetics', id: @being._id }, method: :put )


