- content_for(:title) { 'New Being' }
.container-fluid.span12
  .page-header
    %h1
      Spawn a Being
      %small out of bits
  %p.explain

  = render 'form', locals: { being: @being }
  = link_to_function "Back", "history.back()"
