- content_for :title do
  A tool for making imaginary townsfolk with imaginary names.
#homepage
  %h1 The Populinator
  #current-settlements
    %h4 Current Settlements
    = render partial: '/settlements/settlement', collection: @settlements
  #create-settlement
    %h4 New Settlement
    = render partial: '/settlements/form'


