- content_for :title do
  A tool for making imaginary townsfolk with imaginary names.
- content_for :watermark do
  .watermark.bull-rampant

#homepage
  .row-fluid.span8.push-right
    .container-fluid.span4
      = render partial: '/settlements/settlement', collection: @settlements
    .container-fluid.span4
      = render partial: '/languages/language', collection: @languages



