#language-form
  %fieldset
    %form
      %ul.form
        %li
          %label{ for: 'language-name' }
            Name:
          %input#language-name{ type: 'text', value: Settlement.random_name }
        %li
          %label{ for: 'language-corpus' }
            Corpus:
          %input.language-corpus{ type: 'text', value: 'www.gutenberg.org/cache/epub/40069/pg40069.txt', size: 45 }
          = link_to "+", "#"
          %input.language-corpus{ type: 'text', value: 'www.gutenberg.org/cache/epub/40069/pg40069.txt', size: 45 }
          = link_to "+", "#"
        %li
          %label{ for: 'language-lookback' }
            Lookback:
          %input#language-lookback{ type: 'text', value: '2', size: 1, maxlength: 1 }
        %li
          %input#language-process{ type: 'submit' }

#progressbar
      
%dl#language-output
