@import 'common';

input.ui-button {
  padding: 0.2em 0.5em;
}

body {
  margin:0px;
  color: $font-color;
  background: {
    /* image: url('hero/homepage_01.png'); */
    /* repeat: no-repeat; */
    /* position: -100px -280px; */
  }
  font: {
    family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;
    size: 1em;
  }


  #progressbar {
    width: 400px;
    height: 10px;
    &.ui-widget-content {
      border: 1px solid black;
    }
    .ui-widget-header {
      background-color: black;
    }
  }


  a {
    color: $color05;
  }

  table {

    th.headerSortUp, th.headerSortDown {
    }


    border-collapse: collapse;
    th,td  {
      padding: 5px;
      font: {
        family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;

        // family: KingthingsExeter;
        weight: normal;
      }
      text-align: left;
      border-bottom: 1px solid $color05;
    }
    th {
      font-size: 1.3em;
      &.header {
        padding-left: 14px;
      }
      &.headerSortUp, &.headerSortDown {
        color: $color05;
        @include icon-image('icons/selector_12', 14px);
        background-position: left;
      }
    }
    td {
      font-size: 1.2em;
    }
  }

  ul.subnav {
    margin: -20px 0px 0px 0px;
    padding: 0px;
    li:first-child {
      padding-left: 3px;
      border-left: 1px solid white;
    }
    li {
      color: $color04;
      list-style-type: none;
      display: inline;
      border-right: 1px solid white;
      padding-right: 3px;
      a {
        color: $color01;
      }
    }

  }

  #navigation {
    font: {
      family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;
      size: 1em;
    }

    ul {
      margin: 0px;
      padding: 0px;
      li {
        list-style-type: none;
        float: left;
        width: 10em;
      }
      a:hover {
        color: $color05;
      }
    }
  }

  #main-content {
    .slider-wrapper {
      width: 300px;
    }
    margin: 20px;
    .slider {
      width: 300px;
    }
    .ui-slider .ui-widget-header {
      background: {
        image: url('backgrounds/numberline.png');
        color: none;
        repeat: repeat-x;
      }
      &.ui-slider-range-min {
      background: {
        image: url('backgrounds/numberline.png');
        position: 0px -6px;
        color: transparent !important;
        repeat: repeat-x;
      }

      }
    }
    .ui-slider-handle {
      background: {
        image: url('icons/caret.png');
        color: none;
        repeat: no-repeat;
        position: 5px 0px;
      }
      margin-top: 10px;
      min-height:28px;
      &.ui-state-default {border: 0px;}
      &.ui-state-active {background-color: transparent !important;}
    }

    .ui-widget-content {
      color: $font-color;
      background:#ffffff;
      border: none;
    }
    .ui-slider.ui-widget-content {
      border: none;
      min-height: 28px;
      background: {
        image: url('backgrounds/numberline.png');
        repeat: repeat-x;
        position: 0px -6px;
        color: transparent !important;
      }
    }
    .ui-focus {
      border: none !important;
    }

    .ui-tabs, .ui-accordion {
      // font-family: KingthingsExeter;
      font-family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;
      background: {
        color: transparent;
      }
      padding-left:10px;
      border: none;
      color: $color01;
      h2 a {
        font-size: 1.5em;
      }
      .ui-widget-header, .ui-accordion-header  {
        background: {
          position: 0% 50%;
          color: transparent;
          repeat: repeat-x;
        }
        padding-left: 10px;
        @include shadow(1px, 1px, 3px, #000);
        border: none;
      }

      .ui-tabs-selected {
        background: none;
        border: none;
        a {
          @include engraved();
          color: $color05;
        }
      }
      .ui-state-active, .ui-state-hover, .ui-state-default  {
        border: none;
      }
      .tabs .ui-state-active {
        @include icon-image('icons/selector_12', 12px);
        background-position: left;
      }

      .ui-state-hover {
        a {
          color: white;
          @include engraved();
        }
        border: none;
      }
    }
  }

  #footer {
    font-size: 0.7em;
    ul {
      li {
        list-style-type: none;
      }
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    color: $color01;
    font-weight: bold;
    margin: 0px 0px;
    font: {
      weight: normal;
    }
    @include outline-text(1, $color04, $color01);
  }

  h1 {
    opacity: .5;
    font-size: 2em;
    margin-bottom: -11px;
    font: {
      weight: normal;
      // family: KingthingsVersalis;
    }
    a {
      color: #fff;
      @include outline-text(1, $color05, $color01);
    }
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .clear {
    clear: both;
  }

  .bold {
    font-weight:  bold;
  }

  .italic {
    font-style: italic;
  }

  .invisible {
    display: none;
  }

  .small {
    font-size: 0.9em;
  }
  .smaller {
    font-size: 0.8em;
  }
  .smallest {
    font-size: 0.7em;
  }

  .large {
    font-size: 1.1em;
  }
  .larger {
    font-size: 1.2em;
  }
  .largest {
    font-size: 1.3em;
  }

  .disabled {
    color: $color04;
    background-color: $bg-disabled;
  }

  fieldset {
    margin: 0px;
    padding:0px;
    border: 0px;
    ul.form {
      padding:0px;
      margin:0px;
      .selectbox-wrapper {
        ul {
          width: inherit;
          position: absolute;
          margin-top: -3px;
          padding:0px;
          li {
            line-height: 20px;
            font-size: 0.9em;
            border: 1px solid $color01;
            padding: 5px 10px 5px 5px;
            &:hover {
              color: $color05;
              @include engraved();
              @include shadow(-3px, -3px, 1px, #fff);
            }
          }
        }

      }
      .randcheck {
        background-repeat: no-repeat;
        font-size: 0.8em;
        font-weight: bold;
      }
      li {
        list-style-type: none;
        label {
          display: block;
          color: $color05;
          font-size: 1em;
          padding: 3px 0px 0px 10px;
          // font-family: KingthingsExeter;
          font-family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;

          margin-left: -10px;
        }
        input, select, textarea {
          font-size: 0.8em;
          font-family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;
          padding: 0.2em;
          border: 1px solid $color02;
          color: $color01;
          @include appliqued();
          background-color: rgba(255, 255, 255, 0.1);
        }
        textarea {
          width: 100%;
          height: 100px;
        }
      }
      input[type=submit] {
        border: 0px !important;
        font-size: 0.9em;
        padding:10px !important;
        color: $color01;
        @include border-radius(6px);
      }
    }
  }
}


.watermark {
  position: absolute;
  z-index: -999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: {
    repeat: no-repeat;
    position: right top;
  }
  &.griffin_sejeant {
    background-image: url('watermarks/griffin_sejeant.png');
  }

  &.fox_sejeant {
    background-image: url('watermarks/fox_sejeant.png');
  }

  &.cockatrice {
    background-image: url('watermarks/cockatrice.png');
  }

  &.grenade {
    background-image: url('watermarks/grenade.png');
  }

  &.deer_regardant {
    background-image: url('watermarks/deer_regardant.png');
  }

  &.sun_in_splendor {
    background-image: url('watermarks/sun_in_splendor.png');
  }

  &.wolf_rampant {
    background-image: url('watermarks/wolf_rampant.png');
  }

  &.bull_rampant {
    background-image: url('watermarks/bull_rampant.png');
  }

  &.ducal_coronet {
    background-image: url('watermarks/ducal_coronet.png');
  }

}

.loader {
  margin: auto;
  z-index: 100;
  width: 100%;
  min-height: 300px;
  &.tower {
    background: {
      image: url('loaders/tower.gif');
      repeat: no-repeat;
    }
    margin-left: 460px;
  }
}

line.crisp {
  shape-rendering: crispEdges;
}

svg {
  shape-rendering: crispEdges;
}

#being-graph div {
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#warning, #notice, #info {
  color: $color05;
  font-weight: bold;
}
.ui-tooltip, .qtip {
}

.ui-tooltip-content {
  background-color: transparent !important;
  @include shadow(-1px, -1px, 1px, $color01);
  @include box-shadow(2px, 2px, 1px, $color01);
  border: 1px solid $color01;
}


#genotype-display svg {
  margin: 20px;
  font-size: 0.8em;
  font-weight: normal;
  color: white;
}
