@import 'mixins';
.loader {
  margin: auto;
  z-index: 100;
  width: 100%;
  min-height: 300px;
  &.tower {
    background: {
      image: image-url('loaders/tower.gif');
      repeat: no-repeat;
    }
    margin-left: 460px;
  }
}



.flat-button {
  margin: {
    left: 1rem;
    top: 0.25rem;
    bottom: 0.5rem;
    right: 1rem;
  }
  @include border-radius(4px);
  @include box-shadow(0 0.2em 0.2em rgba(0,0,0,.2));
}

.left {
  float:left;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.tree {
  ul {
    padding-top: 20px;
    position: relative;
  }
  li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 1px solid #ccc;
      width: 50%;
      height: 20px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 1px solid #ccc;
      width: 50%;
      height: 20px;
      right: auto;
      left: 50%;
      border-left: 1px solid #ccc;
    }
    &:only-child {
      &::after, &::before {
        display: none;
      }
      padding-top: 0;
    }
    &:first-child::before {
      border: 0 none;
    }
    &:last-child {
      &::after {
        border: 0 none;
      }
      &::before {
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
      }
    }
    &:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
    }
  }
  ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
  }
  li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    &:hover {
      background: #c8e4f8;
      color: #000;
      border: 1px solid #94a0b4;
      + ul {
        li {
          a {
            background: #c8e4f8;
            color: #000;
            border: 1px solid #94a0b4;
          }
          &::after, &::before {
            border-color: #94a0b4;
          }
        }
        &::before, ul::before {
          border-color: #94a0b4;
        }
      }
    }
  }
}


#diamond-shield {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 20px solid red;
  position: relative;
  top: -50px;

  &:after {
    content: '';
    position: absolute;
    left: -50px; top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid red;
  }
}
