.watermark {
  position: absolute;
  z-index: -999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: {
    repeat: no-repeat;
    position: right bottom;
  }
  .griffin-sejeant {
    background-image: image-url('watermarks/griffin_sejeant.png');
  }

  .fox-sejeant {
    background-image: image-url('watermarks/fox_sejeant.png');
  }

  .cockatrice {
    background-image: image-url('watermarks/cockatrice.png');
  }

  .grenade {
    background-image: image-url('watermarks/grenade.png');
  }

  .deer-regardant {
    background-image: image-url('watermarks/deer_regardant.png');
  }

  .sun-in-splendor {
    background-image: image-url('watermarks/sun_in_splendor.png');
  }

  .wolf-rampant {
    background-image: image-url('watermarks/wolf_rampant.png');
  }

  .bull-rampant {
    background-image: image-url('watermarks/bull_rampant.png');
  }

  .ducal-coronet {
    background-image: image-url('watermarks/ducal_coronet.png');
  }

}

.loader {
  margin: auto;
  z-index: 100;
  width: 100%;
  min-height: 300px;
  &.tower {
    background: {
      image: image-url('loaders/tower.gif');
      repeat: no-repeat;
    }
    margin-left: 460px;
  }
}

.nav .icon {
  float: left;
  padding: 10px;
  width: 60px;
  height: 60px;
  margin: {
    right: 50px;
  }
  a { color: black; }
  object {
    width: 60px;
    height: 60px;
  }
}


#homepage {
  background: {
    color: #F2E6D6;
  }
  .heading {
    padding: 1rem;
    font-size: 3rem;
    color:white;
    background-color: black;

  }
  p {
    font-size: 1.3rem;
    margin: 30px;
  }
  #explain { float: left; }
  #tower-hero {
    background: {
      image: image-path('/assets/hero/tower.png');
    }
    width: 432px;
    height: 670px;
    float: left;
  }
  #quill-hero {
    background: {
      image: image-path('/assets/hero/quill.png');
    }
    width: 418px;
    height: 681x;
    float: left;
  }
}
