// Place all the styles related to the beings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

ul.family {
  min-width: 200px;
  margin: 0px;
  padding: 0px;
  li {
	min-width: 100px;
	list-style-type: none;
	font-size: 1em;
	&.being {
	  margin-right: 0px;
	}
	&.spouse {
	  @include icon-image('icons/heart', 25px);
	  margin-left: -20px;
	}
  }

}

.female {
  @include icon-image('icons/female', 25px);
  background-position: left;


}

.male {
  @include icon-image('icons/male', 25px);
  background-position: left;
}


li.being-children {
  list-style-type: none;
  ul li {
	list-style-type: none;
  }
	
}

.alive {
}

.dead {
  color: white;
}
