// Place all the styles related to the beings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

ul.beings {
  li.being {
	list-style-type: none;
	font-size: 1em;

	
  }
}


.female {
  @include icon-image('icons/female', 25px);
  background-position: left;
}

.male {
  @include icon-image('icons/male', 25px);
  background-position: left;
}


.alive {
}

.dead {
  color: white;
}
