$page-background: #FFFFFF;

$color01: #4B592C;
$color02: #788C2E;
$color03: #26251E;
$color04: #403E37;
$color05: #71726F;
					 
$label-background:		$color04;	
$base-color:			$color03;			
$secondary-fill:		$color04;		
$primary-fill:			$color05;		
$border-color:			$color01;		
$highlight-color:		$color01;		
$glow: #888;
								
$disabled: $color04;
$bg-disabled: #ddd;
					 
$font-color:   $color01;
$label-color:  $color02;
$border-color: $color02;

$icon-padding: 16px;


@mixin box-shadow($horizontal, $vertical, $blur, $color, $offset: "") {
  @if $offset == "" {
	-moz-box-shadow: $horizontal $vertical $blur $color;
	-webkit-box-shadow: $horizontal $vertical $blur $color;
	box-shadow: $horizontal $vertical $blur $color;
  }
  @else {
	-moz-box-shadow: $horizontal $vertical $blur $offset $color;
	-webkit-box-shadow: $horizontal $vertical $blur $offset $color;
	box-shadow: $horizontal $vertical $blur $offset $color;
  }
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}


@mixin corners($tl, $tr, $br, $bl) {
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-left-radius: $bl;
  -webkit-border-bottom-right-radius: $br;
  
  -moz-border-radius-top-left: $tl;
  -moz-border-radius-top-right: $tr;
  -moz-border-radius-bottom-left: $bl;
  -moz-border-radius-bottom-right: $br;
  
}

@mixin gradient-label($color, $bg_color1, $bg_color2, $border-color) {
  color: $color;
  border: solid 1px $border-color;
  background: $bg_color1;
  background: -webkit-gradient(linear, left top, left bottom, from($bg_color2), to($bg_color1));
  background: -moz-linear-gradient(top,  $bg_color2,  $bg_color1);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='$bg_color2', endColorstr='$bg_color1');
}

@mixin gradient-button() {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  &:hover {
	text-decoration: none;
  }
  &:active {
	position: relative;
	top: 1px;
  }
}


@mixin icon-image($icon) {
  background: {
	image: url('/assets/#{$icon}.png');
	repeat: no-repeat;
  }
  padding-left: $icon-padding;
}

input.ui-button {
  padding: 0.2em 0.5em;
}

body {
  background: {
	color: $page-background;
  }
  font: {
	family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  }
  a { 
	color: $highlight-color;
  }
  margin:50px;
  color: $color02;
  #navigation {
	ul {
	  li {
		list-style-type: none;
		float: left;
		padding: 0px 5px;
		border: {
		  left: 1px dashed $color01;
		  right: 1px dashed $color01;
		}
	  }
	}
  }

  #main-content {
	width: 960px;
	background-color: $page-background;
	margin: auto;
  }

  #footer {
	font-size: 0.7em;
	ul {
	  li {
		list-style-type: none;
	  }
	}
  }

  a {
	text-decoration: none;
	&:hover {
	  text-decoration: underline;
	}
  }

  h1,h2,h3,h4,h5,h6 {
	color: $label-color;
	font-weight: bold;
	margin: 10px 10px;
	letter-spacing: 1px;
	border: {
	  bottom: 1px solid $border-color;
	}
  }


  .left {
	float: left;
  }
  .right {
	float: right;
  }
  .clear { 
	clear: both;
  }

  .bold {
	font-weight:  bold;
  }

  .invisible {
	display: none;
  }

  .small {
	font-size: 0.9em;
  }
  .smaller {
	font-size: 0.8em;
  }
  .smallest {
	font-size: 0.7em;
  }

  .large {
	font-size: 1.1em;
  }
  .larger {
	font-size: 1.2em;
  }
  .largest {
	font-size: 1.3em;
  }

  .disabled {
	color: $disabled;
	background-color: $bg-disabled;
  }

}



