$color01: #29271E;
$color02: #590A10;
$color03: #C3AB7E;
$color04: #B2AA94;
$color05: #AE2514;

$page-background:	$color03;
$label-background:	$color04;	
$base-color:		$color01;			
$secondary-fill:	$color04;		
$primary-fill:		$color05;		
$border-color:		$color01;		
$highlight-color:	$color04;		
$glow: #888;

$disabled: $color04;
$bg-disabled: #ddd;

$font-color:   $color01;
$label-color:  $color02;
$border-color: $color02;

$icon-padding: 16px;

@mixin box-shadow($horizontal, $vertical, $blur, $color, $offset: "") {
  @if $offset == "" {
	-moz-box-shadow: $horizontal $vertical $blur $color;
	-webkit-box-shadow: $horizontal $vertical $blur $color;
	box-shadow: $horizontal $vertical $blur $color;
  }
  @else {
	-moz-box-shadow: $horizontal $vertical $blur $offset $color;
	-webkit-box-shadow: $horizontal $vertical $blur $offset $color;
	box-shadow: $horizontal $vertical $blur $offset $color;
  }
}

@mixin shadow ($horizontal, $vertical, $blur, $color) {
  -moz-box-shadow:    inset $horizontal $vertical $blur $color;
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow:         inset $horizontal $vertical $blur $color;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}


@mixin appliqued() {
  text-shadow: 0px 1px 0px rgba(0,0,0,1);
}

@mixin engraved() {
  text-shadow: 0px -1px 0px rgba(0,0,0,1);
}

@mixin rotate($angle) {
  -webkit-transform: rotate($angle); 
  -moz-transform: rotate($angle);	  
}

@mixin outline-text($stroke_width, $font_color, $stroke_color) {
  color: $stroke_color;
  -webkit-text-fill-color:  $font_color;
  -webkit-text-stroke-width: $stroke_width;
  -webkit-text-stroke-color: $stroke_color;
}

@mixin corners($tl, $tr, $br, $bl) {
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-left-radius: $bl;
  -webkit-border-bottom-right-radius: $br;
  
  -moz-border-radius-top-left: $tl;
  -moz-border-radius-top-right: $tr;
  -moz-border-radius-bottom-left: $bl;
  -moz-border-radius-bottom-right: $br;
  
}

@mixin paper($offset_x, $offset_y) {
  background: {
	position: $offset_x $offset_y;
	image: url('backgrounds/paper.jpg');
  }
}


@mixin icon-image($icon, $padding) {
  background: {
	image: url('/assets/#{$icon}.png');
	repeat: no-repeat;
  }
  padding: 0px $padding;
}



@font-face {
    font-family: 'KingthingsCalligraphicaLight';
    src: url('fonts/Kingthings_Calligraphica_Light-webfont.eot');
    src: url('fonts/Kingthings_Calligraphica_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kingthings_Calligraphica_Light-webfont.woff') format('woff'),
         url('fonts/Kingthings_Calligraphica_Light-webfont.ttf') format('truetype'),
         url('fonts/Kingthings_Calligraphica_Light-webfont.svg#KingthingsCalligraphicaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KingthingsCalligraphica2Rg';
    src: url('fonts/Kingthings_Calligraphica_2-webfont.eot');
    src: url('fonts/Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kingthings_Calligraphica_2-webfont.woff') format('woff'),
         url('fonts/Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
         url('fonts/Kingthings_Calligraphica_2-webfont.svg#KingthingsCalligraphica2Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KingthingsCalligraphicaItalic';
    src: url('fonts/Kingthings_Calligraphica_Italic-webfont.eot');
    src: url('fonts/Kingthings_Calligraphica_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kingthings_Calligraphica_Italic-webfont.woff') format('woff'),
         url('fonts/Kingthings_Calligraphica_Italic-webfont.ttf') format('truetype'),
         url('fonts/Kingthings_Calligraphica_Italic-webfont.svg#KingthingsCalligCalligraphica') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'KingthingsItalique';
    src: url('fonts/Kingthings_Italique-webfont.eot');
    src: url('fonts/Kingthings_Italique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kingthings_Italique-webfont.woff') format('woff'),
         url('fonts/Kingthings_Italique-webfont.ttf') format('truetype'),
         url('fonts/Kingthings_Italique-webfont.svg#KingthingsCalligCalligraphica') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'KingthingsExeter';
    src: url('fonts/Kingthings_Exeter-webfont.eot');
    src: url('fonts/Kingthings_Exeter-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kingthings_Exeter-webfont.woff') format('woff'),
         url('fonts/Kingthings_Exeter-webfont.ttf') format('truetype'),
         url('fonts/Kingthings_Exeter-webfont.svg#KingthingsCalligCalligraphica') format('svg');
    font-weight: normal;
    font-style: normal;

}



input.ui-button {
  padding: 0.2em 0.5em;
}

body {
  margin:50px;
  color: $font-color;
  
  @include paper(0, 0);
  font: {
	family: KingthingsExeter, 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;
	size: 1.2em;
  }
  #border {
  	
	border: 1px solid $color01;
	padding:10px;
  }

  a { 
	color: $base-color;
  }

  table {
	th {
	  font: {
		family: KingthingsExeter;
		weight: normal;
		size: 1.1em;
	  }
	}
  }

  #navigation {
	font: {
	  family: KingthingsExeter;
	  size: 1.4em;
	}
	
	ul {
	  margin: 0px;
	  padding: 0px;
	  li {
		list-style-type: none;
		float: left;
		padding: 0px 5px;
		border: {
		  left: 1px dashed $color01;
		  right: 1px dashed $color01;
		}
	  }
	  a:hover {
		color: $color05;
	  }
	}
  }

  #main-content {
	margin: 20px;


	.ui-tabs, .ui-accordion {
	  font-family: KingthingsExeter;
	  background: none;
	  border: none;
	  color: $color01;
	  h2 a {
		font-size: 1.5em;
	  }


	  .ui-widget-header, .ui-accordion-header  {
		background: none;
		border: none;
	  }
	  .ui-widget-content {
		color: $font-color;
		background: none;
		border: none;
	  }

	  .ui-tabs-selected {
		background: none;
		border: none;
		a { 
		  @include engraved();
		  color: $color05; 
		}
	  }
	  .ui-state-active, .ui-state-hover, .ui-state-default  {
		border: none;
	  }
	  .ui-state-active {
		@include icon-image('icons/selector_12', 12px);
		background-position: left;
	  }

	  .ui-state-hover {
		a { 
		  color: white;
		  @include engraved();
		}
		border: none;
	  }
	}
  }

  #footer {
	font-size: 0.7em;
	ul {
	  li {
		list-style-type: none;
	  }
	}
  }

  a {
	text-decoration: none;
	&:hover {
	  text-decoration: underline;
	}
  }

  h1,h2,h3,h4,h5,h6 {
	color: $color01;
	font-weight: bold;
	margin: 0px 0px;
	font: {
	  weight: normal;
	}
	@include outline-text(1, $color04, $color01);
  }
  
  h1 { 
	font-size: 5em;
	font: {
	  weight: normal;
	  family: KingthingsItalique;
	}
	a { 
	  color: #fff; 
	  @include outline-text(1, $color04, $color01);
	}
  }

  h2 { 
	font-size: 2.5em;
  }

  h3 { 
	font-size: 2em;
  }
  
  h4 { 
	font-size: 1.5em;
  }

  .left {
	float: left;
  }
  .right {
	float: right;
  }
  .clear { 
	clear: both;
  }

  .bold {
	font-weight:  bold;
  }
  
  .italic {
	font-style: italic;
  }

  .invisible {
	display: none;
  }

  .small {
	font-size: 0.9em;
  }
  .smaller {
	font-size: 0.8em;
  }
  .smallest {
	font-size: 0.7em;
  }

  .large {
	font-size: 1.1em;
  }
  .larger {
	font-size: 1.2em;
  }
  .largest {
	font-size: 1.3em;
  }

  .disabled {
	color: $color04;
	background-color: $bg-disabled;
  }

  fieldset {
	margin: 0px;
	padding:0px;
	border: 0px;
	ul.form {
	  padding:0px;
	  margin:0px;
	  .selectbox-wrapper {
		ul {
		  @include paper(0px,0px);
		  width: inherit;
		  position: absolute;
		  margin-top: -3px;
		  padding:0px;
		  li {
			line-height: 20px;
			font-size: 0.9em;
			border: 1px solid $color01;
			padding: 5px 10px 5px 5px;
			&:hover {
			  color: $color05;
			  @include engraved();
			  @include shadow(-3px, -3px, 1px, #fff);
			}
		  }
		}
		
	  }
	  .randcheck {
		background-repeat: no-repeat;
		font-size: 0.8em;
		font-weight: bold;
	  }
	  li {
		list-style-type: none;
		label {
		  display: block;
		  color: $color05;
		  font-size: 1em;
		  padding: 3px 0px 0px 10px;
		  font-family: KingthingsExeter;
		  margin-left: -10px;
		}
		input, select {
		  font-size: 1.3em;
		  font-family:  KingthingsExeter;
		  padding: 0.3em;
		  border: 1px solid $color02;
		  color: $color01;
		  @include appliqued();
		  @include paper(random(100),random(100));
		}
	  }
	  input[type=submit] {
		border: 0px !important;
		font-size: 0.9em;
		padding:10px !important;
		@include paper(random(100), random(100));
		color: $color01;
		@include border-radius(6px);
	  }
	}
  }
}


.watermark {
  position: absolute;
  z-index: -999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: {
	repeat: no-repeat;
	position: right top;
  }
  &.griffin_sejeant {
	background: {
	  image: url('watermarks/griffin_sejeant.png');
	}
  }
  &.fox_sejeant {
	background-image: url('watermarks/fox_sejeant.png');
  }
  &.cockatrice {
	background-image: url('watermarks/cockatrice.png');
  }
  &.grenade {
	background-image: url('watermarks/grenade.png');
  }
  &.deer_regardant {
	background-image: url('watermarks/deer_regardant.png');
  }

}

.loader {
  margin: auto;
  
  z-index: 100;
  width: 100%;
  min-height: 300px;
  &.tower {
	background: {
	  image: url('loaders/tower.gif');
	  repeat: no-repeat;
	}
	margin-left: 460px;
  }
}

line.crisp {
  shape-rendering: crispEdges;
}

svg {
  shape-rendering: crispEdges;
}

#being-graph div {
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#warning, #notice, #info {
  color: $color05;
  font-weight: bold;
}
