//
// Index
// ----------------------------------------------------------------------------
@import "variables";
@import "mixins";

#homepage {
  background: {
    image: url(image-path('hero/homepage-hero.jpg'));
  }
  min-height: 900px;
}

.flat-button {
  &:hover {
    background-color: $grayLighter;
  }
}
