@import 'common';

#info {
  #info-settlement, #info-ruler {
	border: 1px solid $border-color;
	padding:5px;
  }
  #info-settlement {}
  #info-ruler {}
}



ul.report {
  font-family: KingthingsCalligraphicaLight;
  li {
	list-style-type: none;
	ul {
	  margin:0px;
	  padding: 0px;
	  clear:left;
	  font-size: 0.9em;
	  li {
		line-height: 20px;
		margin: 0px 5px;
		&.name, &.gender {
		  float: left;
		}
		&.name {
		  width: 20em;
		}
		&.age {
		  float: left;
		}
	  }
	}
	
  }
}
