@import 'common';

#info {
  #info-settlement, #info-ruler {
	border: 1px solid $border-color;
	padding:5px;
  }
  #info-settlement {}
  #info-ruler {}
}
fieldset {
  background: {
	color: #FFF;
  }
  border: 0px;
  form {
	ul {
	  width: 200px;
	  li {
		list-style-type: none;
	  }
	}
	&#settlement-form {
	}
	label {
	  margin: 0px 20px 5px 0px;
	  color: $color05;
	}

  }
}
