@import 'common';

#accordion {
  fieldset {
	@include border-radius(5px);
	@include box-shadow(0px, 0px, 9px, $glow, 0px);
	ul {
	  width: 200px;
	  float: left;
	  li {
		list-style-type: none;
	  }
	}
	&#settlement-form {
	}
	label {
	  font-weight: bold;
	  float: right;
	  margin: 0px 20px 0px 0px;
	  color: $base-color;
	}
	input {
	  font-size: 1.02em;
	  padding: 0.2em;
	  border: 1px solid $border-color;
	}
  }
}
