= form_for @corpus, class:'.form-horizontal' do |f|
  .modal-title
    %h3 Corpus #{@corpus.try(:name)}
  .modal-body
    %fieldset
      .control-group
        %label.control-label Name
        .controls
          %input#name.input-xlarge{:name => "name", :placeholder => "leave blank to guess", :required => "", :type => "text"}/
      / Multiple Radios (inline)
      .control-group
        %label.control-label Randomness
        .controls
          %label.radio.inline
            %input{:name => "lookback", :type => "radio", :value => "5"}/
            Least
          %label.radio.inline
            %input{:name => "lookback", :type => "radio", :value => "4"}/
            Less
          %label.radio.inline
            %input{:name => "lookback", :type => "radio", :value => "3"}/
            Loose
          %label.radio.inline
            %input{:name => "lookback", :type => "radio", :value => "2", :checked => "checked"}/
            Normal
          %label.radio.inline
            %input{:name => "lookback", :type => "radio", :value => "1"}/
            Tight
        %p.help-block
          amount of letters to look back in the corpus as the histogram is created

      .control-group
        %label.control-label Corpus URL
        .controls
          .input-prepend
            %span.add-on http://
            %input#url{:name => "url", :placeholder => "www.gutenberg.org/", :required => "", :type => "text"}/
          %p.help-block URL of a body of text to use for the corpus
      .control-group
        %label.control-label Description
        .controls
          %textarea#description{:name => "description"} 0kb Foo Language
    .modal-footer
      .control-group
        %button.btn{'data-dismiss' => 'modal', 'aria-hidden' => true} Close
        %button.btn.btn-primary{'data-dismiss' => 'modal', 'aria-hidden' => true} Save Changes
