= form_for @corpus, class:'.form-horizontal' do |f|
  .modal-title
    %h3 Corpus #{@corpus.try(:name)}
  .modal-body
    %fieldset
      .control-group
        %label.control-label Name
        .controls
          %input#name.input-xlarge{:name => "corpus[name]", value: @corpus.name, :required => "", :type => "text"}

      .control-group
        %label.control-label Corpus URL
        .controls
          .input-prepend
            %span.add-on http://
            %input#url{:name => "corpus[url]", value: @corpus.url, :placeholder => "www.gutenberg.org/", :required => "", :type => "text"}/
          %p.help-block URL of a body of text to use for the corpus
      .control-group
        %label.control-label Description
        .controls
          %textarea#description{:name => "corpus[description]"} 0kb Foo Language
    .modal-footer
      .control-group
        %button.btn Cancel
        %button.btn.btn-primary Save Changes
