

%ul.media-list.span6
  %li.media
  - @corpora.each do |corpus|
    %ul.corpus.row.media-list
      %li= corpus.name
      %li= corpus.url
      %li= corpus.description
      %li= corpus.histogram.inspect
      %li
        %ul.nav.nav-pills
          %li
            %a{href: corpus_path(corpus)}
              %i.icon-eye-open
          %li
            %a{ href: edit_corpus_path(corpus) }
              %i.icon-edit
          %li
            %a{ href: corpora_path }
              %i.icon-arrow-left


